@import "variables.scss";

div.topMenuContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    top: 6px;
    background: transparent;
    z-index: 10;

    $border-color: black;
    $border-thickness: 2px;
    $button-padding: 5px;
    $border-radius: 6px;
    $dist: 6px;

    div.button_background{
        position: relative;
        padding: $button-padding;
        height: 18px;
        background:white;
        border-radius: $border-radius;
        border: $border-thickness solid $border-color;
        display: flex;
        transition: filter 0.2s;
        cursor: pointer;
        margin: $dist;
        user-select: none;
    
        &:hover {
            filter: invert(0.3);
        }
    }
    
    div.button_background_selected{
        position:relative;
        padding: $button-padding;
        width:auto;
        height: 18px;
        background:white;
        border-radius: $border-radius;
        border: $border-thickness solid $border-color;
        display:flex;
        transition:filter 0.2s;
        filter: invert(1);
        margin: $dist;
        user-select: none;
    }
}

div.icon_container_menu{
    $icon-size: 20px;

    position:relative;
    left: 5px;
    width: $icon-size;
    height: $icon-size;
    background:transparent;
}

div.icon_container_menu img {
    position:relative;
    width:12px;
    height:12px;
}

div.text_container_menu {
    position:relative;
    background:transparent;
    width:auto;
    height:15px;
    left:6px;
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 1px;
    white-space: nowrap;
    margin-right:12px;
}
