div.description {
    width: 85%;
    color: black;
    padding: 6px;
    background-color: white;
    margin-top: 6px;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}